<!-- <div class="container-fluid">
  <table class="table">
    <thead>
      <tr>
        <th scope="col">id</th>
        <th scope="col">StudentName</th>
        <th scope="col">level</th>
        <th scope="col">Email</th>
        <th scope="col">Totalfees</th>
      </tr>
    </thead>
    <tbody>
      <tr >
        <th scope="row"></th>
        <td>Mark</td>

        <td>one</td>
        <td>ahmedgmail.com</td>
        <td><button type="button" class="btn btn-outline-danger">Danger</button></td>
      </tr>
      
      
    </tbody>
  </table> -->
  <app-header></app-header>
  <div class="container-fluid">
    <!-- <app-header></app-header> -->
  <!-- <section class="row"> -->
    <!-- <app-sidepar class="col-2"></app-sidepar> -->
    <!-- <app-home class="col-10"></app-home> -->
    <!-- <button class = "btn-danger">Click</button> -->
  <!-- </section> -->
   <router-outlet></router-outlet>
  
   
</div>
<!-- <app-footer></app-footer>  -->